<div class="auth-wrapper">
  <h2 class="auth-title">
    @if (modo === 'login') {
      ✓ Entrar
    } @else {
      + Criar Conta
    }
  </h2>
  
  <div class="auth-container">
    <form (ngSubmit)="modo === 'login' ? fazerLogin() : fazerRegistro()">
      <input 
        type="email" 
        placeholder="Email"
        [(ngModel)]="email" 
        name="email" 
        required
      >

      <input 
        type="password" 
        placeholder="Senha"
        [(ngModel)]="senha" 
        name="senha" 
        required
      >

      <button class="btn" type="submit">
        @if (modo === 'login') {
          Entrar
        } @else {
          Registrar
        }
      </button>
    </form>

    <p class="mudar" (click)="modo === 'login' ? irParaRegistro() : irParaLogin()">
      @if (modo === 'login') {
        Não tem conta? <strong>Criar conta</strong>
      } @else {
        Já tem conta? <strong>Fazer login</strong>
      }
    </p>

    @if (erro) {
      <p class="erro">{{ erro }}</p>
    }
  </div>
</div>