* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  color: rgb(0, 0, 0);
  background-color: #000000;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
}

app-root {
  display: block;
  background-color: #000;
  min-height: 100vh;
}

.conteudo-principal {
  padding-top: 70px;
  min-height: calc(100vh - 70px);
}